*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}

.body{
	display: flex;
	padding: 0 30px;
	min-height: 100vh;
}

.wrapper{
	display: flex;
	max-width: 1500px;
	position: relative;
	margin: 5%;
}

.wrapper i{
	top: 52%;
	height: 45px;
	width: 45px;
	font-size: 1.2rem;
	cursor: pointer;
	position: absolute;
	text-align: center;
	line-height: 45px;
	background: grey;
	color:white;
	border-radius: 50%;
	transform: translateY(-50%);
}

.wrapper i:first-child{
	left: -15px;
}

.wrapper i:last-child{
	right: -25px;
	top: 52%;
	
}

.wrapper .carousel{
	font-size: 0px;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	scroll-behavior: smooth;
}

.carousel img{
	height: 450px;
	object-fit: cover;
	user-select: none;
	margin-left: 10px;
	width: calc(100% / 4);
}

.carousel img.first-child{
	margin-left: 0px;
}

@media screen and (max-width: 900px) {
	.carousel img{
	  width: calc(100% / 2);
	}
  }
  
@media screen and (max-width: 550px) {
	.carousel img{
	  width: 100%;
	}
}

