.map{
    width: 50%;
    margin-top: 30px;
    margin-left: 10px;
}

.text-ct{
    margin-left: 30%;
    margin-top: -30%;
}

.text1-ct{
    margin-left: 30%;
    margin-top: 1%;
}

.title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:19px;
}
