table{
    font-family:'Times New Roman', Times, serif;
    font-size:30px;
}

caption{
    text-align:center;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

th,td{
    padding : 15px;
    height:20%;
    font-size: 16pt;
    background-color:gray;
    color: #fff;
}

td.title{
    font-weight:bold;
    font-size:large;
    background-color: #921400;
    color: #fff;
}