header{
  display: flex;
  margin-top: 2%;
}

.logo{
  width: 5%;
  margin-left: 2%;
}

.logo1{
  margin-top: -5%;
}

.header-list{
  display: flex;
  margin-left: 65%;
  margin-top: -3%;
}

.header-items{
  list-style: none;
  margin-left: 5%;
  font-size: 20px;
}

.header-items a{
  text-decoration: none;
  color: #000000;
  transition: color .4s;
  list-style-type: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-items a:hover{
  color: #f31313;
}

.text-home{
  margin-left: 30%;
  margin-top: 5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color: #f31313;
}

.text-home1{
  margin-left: 45%;
  margin-top: 5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color: #f31313;
}

.text1-home{
  margin-left: 15%;
  margin-right: 15%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
  font-size:20px;
}

.space2{
  margin-left: 25%;
}

.space3{
  margin-left: 45%;
  margin-top: -32%;
}

.space4{
  margin-left: 65%;
  margin-top: -33%;
}


